body {
	background-color: #cce3ff;
	position: relative;
	overflow-x: hidden; 
}

.header-logo {
	text-align: center;
}

.inline-image {
	width: 100%;
	max-height: 80px;
}

.header-wrapper {
	position:relative; 
}

.header-overlay{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	text-align: center;
	width:100%;
}

.header-text {
	color: white;
	font-size: 35px;
	font-family: Arial;
	line-height: 1;
}

.sticky-footer {
	background-color: #cce3ff;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #565656;
}

.sticky-footer div {
	height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    border-radius: 20px; /* 5px rounded corners */
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    width: 100%;
}

.row {
	align-content: center;
	padding-left: 20px;
	padding-right: 20px;
}


.column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    margin-right: 1%;
    margin-left: 1%;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
