<html>
		<div class="row">

			<div class="column">
				<div class="card">
				  <img src="images/daniel.png" alt="Avatar" style="width:100%">
				  <div class="container">
				    <h3><b>Daniel Blackey</b></h3> 
				    <p>CEO and Group Leader</p> 
				  </div>
				</div>
			</div>

			<div class="column">
				<div class="card">
				  <img src="images/rahul.png" alt="Avatar" style="width:100%;">
				  <div class="container">
				    <h3><b>Rahul Kooverjee</b></h3> 
				    <p>VP, Product Management</p> 
				  </div>
				</div>
			</div>

			<div class="column">
				<div class="card">
				  <img src="images/reeham.png" alt="Avatar" style="width:100%">
				  <div class="container">
				    <h3><b>Reeham Sedky</b></h3> 
				    <p>Chief Engineer</p> 
				  </div>
				</div>
			</div>

			<div class="column">
				<div class="card">
				  <img src="images/sanjana.png" alt="Avatar" style="width:100%">
				  <div class="container">
				    <h3><b>Sanjana Sarkar</b></h3> 
				    <p>Head of Business</p> 
				  </div>
				</div>
			</div>
		</div>
</html>