<!DOCTYPE HTML>
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		</noscript>
		<!-- JS -->
        <script src="https://code.angularjs.org/1.4.2/angular.js"></script>
        <script src="https://code.angularjs.org/1.4.2/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-messages.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="js/app.js"></script>

        <!-- Battle of the Sexes Pie Chart -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="js/chartUtils.js"></script>

        <!-- Names of all our countriess -->
         <script src="js/countryNames.js"></script>
         <link rel="stylesheet" href="css/custom-styles.css" />

	</head>

	<body ng-app = "cssTestingApp" ng-controller="athleteInfoController">
		<!-- Header -->
			<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Menu</a>
							<ul>
								<li><a href="country_information.html">Country Info</a></li>
								<li><a href="athlete_information.html">Athlete Info</a></li>
								<li><a href="battle_sexes.html">Battle of the Sexes</a></li>
								<li><a href="country_vs_athlete.html">Country vs Athlete</a></li>
								<li><a href="top_athlete.html">Top Athletes</a></li>
								<li><a href="demographic_performance.html">Demographic Performance</a></li>
								<li><a href="about_us.html">About Us</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>About Us</h2>
					<p>Find out about the creators of this project!</p>

				</header>
				<div class="about-us">
					<div class="row">
						<div class="column">
							<div class="card">
							  <img src="images/daniel.png" alt="Avatar" style="width:100%">
							  <div class="container">
							    <h3><b>Daniel Blackey</b></h3>
							    <h4>CEO</h4>
							    <p>
							    	Daniel Blackey is a junior at the University of Pennsylvania studying linguistics and Computer Science. A true intellectual, Daniel can usually be found sipping his coffee at the nearest Saxbys over his daily CLRS intake. Often described as a visionary by his peers, Daniel was one of the first to cover his hands with peanut butter whilst coding. “Colorless green ideas sleep furiously.”
							    </p>
							  </div>
							</div>
						</div>

						<div class="column">
							<div class="card">
							  <img src="images/rahul.png" alt="Avatar" style="width:100%;">
							  <div class="container">
							    <h3><b>Rahul Kooverjee</b></h3>
							    <h4>COO</h4>
							    <p>
							    	Rahul Kooverjee is a junior at the University of Pennsylvania studying Finance (#snake) and Computer Science. His passions include napping, sleeping, and the occasionaly siesta. Originally from South Africa and described by some (his mum) as the next Elon Musk, Rahul can often be found in his room coding while listening to Christmas music. All he wants for Christmas is <del>you</del> an A on this project.
							    </p>
							  </div>
							</div>
						</div>

						<div class="column">
							<div class="card">
							  <img src="images/reeham.png" alt="Avatar" style="width:100%">
							  <div class="container">
							    <h3><b>Reeham Sedky</b></h3>
							    <h4>CTO</h4>
							    <p>
							    	Reeham Salah Sedky is currently a junior studying at the University of Pennsylvania. She has been passionate about this project since the beginning as she herself has competed at the international level for her sport - squash. Although bummed out that squash lost the 2020 bid to make it into the Olympics, she was recently notified that she will be one of the five spokespeople to present to the International Olympic Committee for the 2024 Olympic bid!
							    </p>
							  </div>
							</div>
						</div>

						<div class="column">
							<div class="card">
							  <img src="images/sanjana.png" alt="Avatar" style="width:100%">
							  <div class="container">
							    <h3><b>Sanjana Sarkar</b></h3>
							    <h4>CFO</h4>
							    <p>
							    	Sanjana is a junior at the University of Pennsylsvania, studying Computer Science. She has lived her whole life in the Middle East, specifically in Bahrain and Dubai (#gulfkid). She is extremely passionate about music. She can often be found in her room drumming on her table, her chair, or literally anything. Although she misses her drum set, she always says, "If you try hard enough, any surface is a drum".
							    </p>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<span class="copyright">
				CIS450 Group 2: Reeham Sedky, Rahul Kooverjee, Sanjana Sarkar, and Daniel Blackey
				</span>
			</footer>

	</body>
</html>
