<html>
		<div class="row">

			<div class="column">
				<div class="card">
				  <img src="images/daniel.png" alt="Avatar" style="width:100%">
				  <div class="container">
				    <h3><b>Daniel Blackey</b></h3> 
				    <h4>CEO and Group Leader</h4> 
				    <p>
				    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				    </p>
				  </div>
				</div>
			</div>

			<div class="column">
				<div class="card">
				  <img src="images/rahul.png" alt="Avatar" style="width:100%;">
				  <div class="container">
				    <h3><b>Rahul Kooverjee</b></h3> 
				    <h4>VP, Product Management</h4> 
				    <p>
				    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				    </p>
				  </div>
				</div>
			</div>

			<div class="column">
				<div class="card">
				  <img src="images/reeham.png" alt="Avatar" style="width:100%">
				  <div class="container">
				    <h3><b>Reeham Sedky</b></h3> 
				    <h4>Chief Engineer</h4> 
				    <p>
				    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				    </p>
				  </div>
				</div>
			</div>

			<div class="column">
				<div class="card">
				  <img src="images/sanjana.png" alt="Avatar" style="width:100%">
				  <div class="container">
				    <h3><b>Sanjana Sarkar</b></h3> 
				    <h4>Head of Business</h4> 
				    <p>
				    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				    </p>
				  </div>
				</div>
			</div>
		</div>
</html>