<!DOCTYPE html>
<div class='page-with-margins'>
    <h1 align = "center"> ATHLETE INFORMATION </h1>
    <h3> To get started type in an athlete and press Let's Go to see their information!</h3>
    <div ng-controller="athleteInfoController">
        <form name="athleteInfo" ng-submit="ATHLETE()" class="athleteInfo" required>
          <label>First Name:</label>
          <input type="text" name="firstname" ng-model="firstname" required />

          <label>Last Name:</label>
          <input type="text" name="surname" ng-model="surname" required />

          <button type="submit" class="btn btn-danger">Submit</button>
      </form>

      <table>
          <tr>
            <th>Athlete Name</th>
            <th>Gender</th>
            <th>Country</th>
        </tr>
        <tr ng-repeat="x in data">
            <td>{{x.name}}</td>
            <td>{{x.gender}}</td>
            <td>{{x.country}}</td>
        </tr>
    </table>
    </div>
</div>
