<!DOCTYPE html>
<html>
    <body ng-app="wikiOlympicsApp">
        <h1> Battle of the Sexes </h1>
        <h3> Check out how male and female olympians compare! </h3>
        <h4> To get started, put in a country and/or sport!</h4>
        <div ng-controller="battleController">
        <form name="athleteForm" ng-submit="SEXES()" class="athleteForm" required>
            <label>Country:</label>
            <input type="text" name="country" ng-model="country" />

            <label>Sport:</label>
            <input type="text" name="sport" ng-model="sport" />

            <button type="submit" class="btn btn-danger">Let's go!</button>
        </form>
        <h5: 
        <p> {{data[0].gender}} </p>
        <p> {{data[0].count}} </p>
        <p> {{data[1].gender}} </p>
        <p> {{data[1].count}} </p>
        </div>
    </body>
</html>