<!DOCTYPE html>
<div class='page-with-margins'>
    <h1 align = "center"> COUNTRY INFORMATION </h1>
    <h3> To get started type in an country and press submit to see their information!</h3>
    <div ng-controller="countryInfoController">
      <form name="countryInfo" ng-submit="COUNTRY()" class="countryInfo" required>
        <label>Country:</label>
        <input type="text" name="country" ng-model="country" required />

        <button type="submit" class="btn btn-danger">Submit</button>
    </form>

    <table>
        <tr>
          <th>Country Name</th>
          <th>IOC Code</th>
          <th>Years Hosted</th>
      </tr>
      <tr ng-repeat="x in data">
          <td>{{x.name}}</td>
          <td>{{x.ioc}}</td>
          <td>{{x.year}}</td>
      </tr>
    </table>
    </div>
</div>
