<!DOCTYPE HTML>
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		</noscript>
		<!-- JS -->
        <script src="https://code.angularjs.org/1.4.2/angular.js"></script>
        <script src="https://code.angularjs.org/1.4.2/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-messages.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="js/app.js"></script>

        <!-- Battle of the Sexes Pie Chart -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="js/chartUtils.js"></script>

        <!-- Names of all our countriess -->
         <script src="js/countryNames.js"></script>
         <link rel="stylesheet" href="css/custom-styles.css" />

	</head>

	<body ng-app = "cssTestingApp" ng-controller="cvaController">
		<!-- Header -->
			<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Menu</a>
							<ul>
								<li><a href="country_information.html">Country Info</a></li>
								<li><a href="athlete_information.html">Athlete Info</a></li>
								<li><a href="battle_sexes.html">Battle of the Sexes</a></li>
								<li><a href="country_vs_athlete.html">Country vs Athlete</a></li>
								<li><a href="top_athlete.html">Top Athletes</a></li>
								<li><a href="demographic_performance.html">Demographic Performance</a></li>
								<li><a href="about_us.html">About Us</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>Country vs Athlete</h2>
					<p>Ever wonder if Michael Phelps has just as many medals as a whole country combined? That would be incredible right?</p>
				</header>
				<div class="container">
					<div class="row 150%">
						<div class="4u 12u$(2)">

							<!-- Sidebar -->
								<section id="sidebar">
									<a href="#" class="image fit"><img src="images/usain_bolt.jpg" alt="" /></a>
									<h3>Fun Fact</h3>
									<p>Usain Bolt has won 8 gold medals. He is notable for winning 3 consecutive gold medals in one of his events. Bolt, although injured at the moment, hopes to change that 3 to 4 gold consecutive medals!</p>

									<hr />
								</section>

						</div>
						<div class="8u 12u$(2) important(2)">

							<!-- Content -->
								<section id="content">
									<section>
										<h3>Country vs. Athlete Medal Count</h3>
										<p>Search the first and last name of an Olympic Athlete that you know and you will get a list of countries that cumulatively have just as many medals as that single person!</p>
										<footer>
											<div>
										    <form name="athleteForm" ng-submit="CVA()" class="athleteForm" required>

									       <label>First Name:</label>
            								<input type="text" name="firstname" ng-model="firstname" required />

            								<label>Last Name:</label>
            								<input type="text" name="surname" ng-model="surname" required />

          									 <button type="submit" class="btn btn-danger">Submit</button>
									    </form>
										    <table>
										        <tr>
										          <th>Country</th>
										          <th>Number of medals</th>
										      </tr>
										      <tr ng-repeat="x in data">
										          <td>{{x.name}}</td>
										          <td>{{x.medal_count}}</td>
										      </tr>
										    </table>
										    </div>
										</footer>
									</section>
								</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<span class="copyright">
					CIS450 Group 2: Reeham Sedky, Rahul Kooverjee, Sanjana Sarkar, and Daniel Blackey
				</span>
			</footer>

	</body>
</html>
