<!DOCTYPE html>
<div ng-controller="demographicPerformanceController" class='page-with-margins'>
    <h1 style="align-text:center"> Country Performance Relative to Demographics </h1>
    <h4> See how countries perform relative to demographic info </h4>
    <form ng-submit="SUBMIT()">
        <label> Demographic Statistic:</label>
        <select style="width:15%" ng-model="selectedDemographic" ng-options="x.option for x in demographicOptions">
        </select>

        <button type="submit" class="btn btn-danger">Update Data</button>

        <table border="0" cellpadding="10" cellspacing="1" width="500" align="center" id="myTable">
            <tr>
                <th ng-click="sortTable(0)">Country</th>
                <th ng-click="sortTable(1)">Medal Count</th>
                <th ng-click="sortTable(2)">{{thirdColumnName}}</th>
            </tr>
            <tr ng-repeat="x in data">
                <td>{{sentenceCase(x.name)}}</td>
                <td>{{x.medalCount}}</td>
                <td>{{x.adjustedCount}}</td>
            </tr>
        </table>
    </form>  
</div>

