
<!DOCTYPE html>
<html>

    <body ng-app="wikiOlympicsApp">
        <h1 align="center"> Welcome to the One Stop Shop for Olympic Facts</h1>
        <h2> To begin, either choose one of the tabs above or find out more about Olympic athletes or countries by clicking an icon below!</h2>
        <img src="images/olympics_background.jpg" alt="Avatar" style="width:100%">
        <a href="http://localhost:8080/#/the-top-athlete"><img src="images/athletes.png"
            alt="World Wide Web Consortium Home"
            width="225" height = "225" border = "300"/></a>
        <a href="http://www.w3.org"><img src="images/country.png"
            alt="World Wide Web Consortium Home"
            width="225" height = "225"/></a>
    </body>

</html>

