<!DOCTYPE html>
<html>
    <body ng-app="wikiOlympicsApp">
        <h1> TOP ATHLETES IN THE OLYMPICS </h1>
        <h3> See which top athletes have won the most medals in general or see which athletes are the best in their country! </h3>
        <h4> To get started, here are the top athletes with the most medals in the world, if you would like to see according to country press the button below! </h4>
        <div ng-controller="topAthleteController"> 
            <form name = "topAthleteForm" ng-submit="TOPATHLETES()" class = "topAthleteForm" required>
                <label> Country:</label>
                  <input type="text" name="country" ng-model="country" /> 
                 
                  <button type="submit" class="btn btn-danger">Highest Rated in Country</button>
           </form>   
            <h5: 
              <p> {{data[0].name}}</p>
              <p> {{data[0].medal_count}}</p>
              <p> {{data[1].name}}</p>
              <p> {{data[1].medal_count}}</p>
              <p> {{data[2].name}}</p>
              <p> {{data[2].medal_count}}</p>
        </div>
    </body>
</html>
